[submodule "thirdparty/mav_simulator"]
	path = thirdparty/mav_simulator
	url = git@github.com:RPS98/mav_simulator.git
[submodule "thirdparty/position_mpc"]
	path = thirdparty/position_mpc
	url = git@github.com:RPS98/position_mpc.git